@keyframes toolbar-show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
toolbar {
  background-image: url('/render/img/wood-1963988.jpg');
  background-repeat: repeat-x;  
  background-size: cover;
  transition: 300ms;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);  
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation-name: toolbar-show;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  display: flex;
  align-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  scroll-snap-type: x mandatory;
}
toolbar iconButton, toolbar h2 {
  scroll-snap-align: center;
  transition: 500ms background-color, 300ms;
  background-color: #e2e2e2;
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
toolbar h2 {
  max-width: 300px;
  width: auto;
  max-lines: 1;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 743px) {
  toolbar h2 {
    display: none;
  }
  toolbar iconButton {
    transition: 2s;
    width: 100%;
  }
}
@media (max-width: 400px) {
  toolbar iconButton {
    transition: 2s;
    min-width: 100px;
  }
}
toolbar iconButton:hover {
  transition: 200ms background-color;
  background-color: #c4c4c4;
  border-radius: 5px;
}
toolbar iconButton i {
  transition: 300ms;
  font-size: 30px;
}
toolbar:hover {
  transition: 500ms;
  height: 90px;
}
toolbar:hover iconButton {
  transition: 500ms;
  width: 70px;
  height: 67px;
}
toolbar:hover iconButton i {
  transition: 300ms;
  font-size: 50px;
}
